
@media (max-width:1600px) {
   

}
@media (min-width:1520px) {
   
}
@media (max-width:1441px) {
   
}
@media (max-width:1367px) {
    
}
@media (max-width:1281px) {
   
}
@media (max-width:1200px) {
    
  
}
@media(max-width:1025px){
    
}
@media (max-width:993px) {
  
    
}

@media  (max-width:815px) {
   

}
@media  (max-width:768px) {

}

@media (max-width:576px) {
  
}
@media (max-width:415px) {
   
}
@media (max-width:376px) {
  
}

@media (max-width:321px) {
 
}